<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44542745046-jkic6mmf41jltk3s6unb1ro4bj4p2mpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44542745046-jkic6mmf41jltk3s6unb1ro4bj4p2mpo</string>
	<key>API_KEY</key>
	<string>AIzaSyB0IblE5ZcZBVzoPQRKvHb1vo5n2EtZOsY</string>
	<key>GCM_SENDER_ID</key>
	<string>44542745046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sasithad.CourseworkIOS</string>
	<key>PROJECT_ID</key>
	<string>coursework-ios-730cb</string>
	<key>STORAGE_BUCKET</key>
	<string>coursework-ios-730cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44542745046:ios:703a4dee666d4c126b6c77</string>
	<key>DATABASE_URL</key>
	<string>https://coursework-ios-730cb.firebaseio.com</string>
</dict>
</plist>